# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
design

_android
xios/.gitignore
xios/Flutter/AppFrameworkInfo.plist
xios/Flutter/Debug.xcconfig
xios/Flutter/Release.xcconfig
xios/Runner/AppDelegate.swift
xios/Runner/Info.plist
xios/Runner/Runner-Bridging-Header.h
xios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
xios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
xios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
xios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
xios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
xios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
xios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
xios/Runner/Base.lproj/LaunchScreen.storyboard
xios/Runner/Base.lproj/Main.storyboard
xios/Runner.xcodeproj/project.pbxproj
xios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
xios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
xios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
xios/Runner.xcworkspace/contents.xcworkspacedata
xios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

